@if(isLoading){
  <app-spinner />
}
@if(error){
  <div class="error-message">
    {{errorMsg}}
 </div>
}
<div class="register-container">
    <div class="register-form">
      <h2>Register Account Form</h2>
      <hr />
      <form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            id="fullName"
            name="name"
            placeholder="Your Name"
            formControlName="name"
            required
          />
          @if(nameInputValidation){
            <small>The name is required</small>
          }
        </div>
       
        <div class="form-group">
          <label for="email">Your Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Your Email"
            formControlName="email"
            required
          />
          @if(emailInputValidation){
              @if(emailrequiredValiation){
                <small>Email Required</small>
              }
              @if(emailformatValidation){
                <small>Email must be a valid email address</small>
              }
          }
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Your Password"
            formControlName="password"
            required
          />
          @if(passwordInputValidation){
            @if(passwordrequiredValiation){
              <small>password Required</small>
            }
            @if(passwordLengthValidation){
              <small>password must be at least 6 characters</small>
            }
        }
        </div>
        <button type="submit">Register</button>
        <a (click)="onNvigateToLogin()">I already have account </a>

      </form>
    </div>
  </div>
  